<div class="messages">
  <h1>Websocket Client</h1>
  <input type="text" name="msg" id="msg" (keydown.enter)="sendMessage()" placeholder="Insert message here..."
    [(ngModel)]="msg">
  <button (click)="sendMessage()">Send Message to Server</button>
  @for (msg of messages; track $index) {
  <p>{{msg.senderId}}: {{msg.message}}</p>
  }
</div>
<div class="counter">
  <p>Counter: {{counter()}}</p>
  <input [(ngModel)]="addToCounterVal" type="number" name="counter" id="counter" #counterInput (keydown.enter)="addToCounter(counterInput.valueAsNumber)"
    placeholder="Insert number here...">
  <button (click)="addToCounter(counterInput.valueAsNumber)">Add to Counter</button>
</div>
